Package: asistente
Version: 1.0-beta
Section: base
Priority: optional
Architecture: amd64
Depends: portaudio19-dev
Maintainer: Sergio Galarza <sergiowgp@outlook.com>
Description: Asistente que usa la api de Gemini.
